// SPDX-License-Identifier: BSD-3-Clause
// SPDX-FileCopyrightText: The LineageOS Project

#include "qcs8550-ayntec-thor.dtso"

/ {
	qcom,msm-id = <603 0x20000>;
	qcom,board-id = <0x1001f 0>;
};

&android_firmware {
	hardware = "thor";
};

&i2c4 {
	touchscreen@38 {
		label = "ft5426";
	};
};

&i2c_hub_3 {
	touchscreen@38 {
		label = "ft5452";
	};
};
