// SPDX-License-Identifier: BSD-3-Clause
// SPDX-FileCopyrightText: The LineageOS Project

#include "qcs8550-ayntec-common.dts"

/ {
	qcom,msm-id = <603 0x20000>;
	qcom,board-id = <0x1001f 0>;

	firmware {
		android_firmware: android {
			compatible = "android,firmware";
			boot_devices = "soc@0/1d84000.ufshc";
			usbcontroller = "a600000.usb";

			vbmeta {
				compatible = "android,vbmeta";
				parts = "vbmeta,boot,system,vendor,recovery";
			};
		};
	};

	bootloader_log {
		compatible = "qcom,bootloader_log";
		memory-region = <&aop_config_merged_mem>;
		log,offset_size = <0x64000 0x10000>;
	};
};
